/* spotify controls restyle im working on (beta) */
.panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .inner-WRV6k5{
    height: 70px;
    position: relative;
    width: calc(100% + 14px);
    margin-left: -7px;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .flex-2S1XBF{
    position: absolute;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .inner-WRV6k5>.details-ntX2k5{
    text-align: center;
    margin-bottom: 30px;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .flex-2S1XBF>*:hover{
    background-color: transparent;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0)>div>.coverWrapper-YAplwJ{
    position: absolute;
    width: 100%;
    height: 165px;
    margin: 0;
    margin-top: 25px;
    border-radius: 0;
    pointer-events: none;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0){
    height: 165px;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .cover-SwJ-ck{
    object-fit: fill;
    filter: blur(2px) brightness(.3);
    pointer-events: none;
    z-index: -99;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0)>div>.coverWrapper-YAplwJ>.maximizer-RVu85p{
    width: 100%;
    z-index: 9999;
    transform: none;
    border-radius: 0;
    pointer-events: all;
    height: 15px;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0):hover .coverWrapper-YAplwJ>.maximizer-RVu85p,
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0):hover .coverWrapper-YAplwJ::before{
    visibility: visible;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0)>div>.coverWrapper-YAplwJ>.maximizer-RVu85p>*{
    display: none;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0)>div>.coverWrapper-YAplwJ::before{
    content: '^';
    font-size: 46px;
    position: absolute;
    color: white;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 1px;
    visibility: hidden;
  }
/* changes the live tag in vc into a background gradient */
.voiceUser-3nRK-K .live-1V2D-f {
    font-size: 0;
    background: linear-gradient(to right, transparent, var(--background-secondary));
    border-radius: 5px;
    margin-right: 237px;
    width: 70%;
    margin-top: 2px;
    z-index: -99;
    height: 99%;
    transition: .5s ease;
    position: absolute;
}
.voiceUser-3nRK-K:hover .live-1V2D-f, .voiceUser-3nRK-K .content-1Tgc42:hover{
    border-radius: 25px;
}
.voiceUser-3nRK-K .content-1Tgc42{
    transition: .5s ease;
    border-radius: 0px;
}
/* removes some stupid gradient bugs */
.form-3gdLxP::before, .children-3xh0VB:after, .option-ayUoaq:after{
    content                 :               none;
}
/* custom user profile settings */
.accountProfileCard-lbN7n- > .settingsBanner-1eDJ5w {
    width                   :               100%;
    height                  :               300px;
    border-radius           :               10px;
    filter                  :               blur(1.3px) brightness(.4);
}
.accountProfileCard-lbN7n- > .userInfo-regn9W, .accountProfileCard-lbN7n- > .background-3d_SjE {
    width                   :               55%;
    position                :               relative;
    left                    :               6%;
    bottom                  :               300px;
    height                  :               100px;
}
.accountProfileCard-lbN7n- > .userInfo-regn9W .avatar-3mTjvZ {
    left                    :               -30px;
    top                     :               -10px;
}
.accountProfileCard-lbN7n- > .background-3d_SjE {
    width                   :               95%;
    left                    :               0px;
    background-color        :             rgba(0, 0, 0, 0.26);
    overflow-y              :               scroll;
    overflow-x              :               hidden;
}
.accountProfileCard-lbN7n- > .background-3d_SjE::-webkit-scrollbar {
    visibility              :               hidden;
}
.accountProfileCard-lbN7n- {
    max-height              :               300px;
    background-color        :               transparent;
    width                   :               840px;
    border-radius           :               9px;
}
.userInfo-regn9W {
    margin-top              :               20px;
}
.fieldList-in8WkP {
    margin-top              :               20px;
    background-color        :               transparent;
}
.accountProfileCard-lbN7n- > .button-f2h6uQ {
    position                :               relative;
    width                   :               900px;
    left                    :               200px;
}
.avatar-3mTjvZ {
    border                  :               none;
    background-color        :               transparent;
}
.profileCardUsernameRow-1bb6fi{
    position                :               relative;
    right                   :               55px;
}
.accountProfileCard-lbN7n- .button-f2h6uQ:nth-child(3){
    position                :               relative;
    left                    :               290px;
}
.accountProfileCard-lbN7n- .container-1gYwHN{
    position                :               relative;
    left                    :               -100%;
    top                     :               230%;
    margin-left             :               15px
}
/* custom textbox */
.input-2g-os5:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL),
.scrollableContainer-15eg7h:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL), .input-3r5zZY, .input-2g-os5  {
    background-color        :             #303030 !important;
    transition              :               background-color 0.2s ease, border-color 0.2s ease !important;
    border                  :               1px solid transparent !important;
    outline                 :               none !important;
}
.input-2g-os5:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL):hover,
.scrollableContainer-15eg7h:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL):hover, .input-3r5zZY:hover, .input-2g-os5  {
    border-color            :             #5a5a5a !important;
    background-color        :             rgb(32, 32, 32) !important;
}
.input-2g-os5:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL):focus-within,
.scrollableContainer-15eg7h:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL):focus-within, .input-3r5zZY:focus-within, .input-2g-os5  {
    background-color        :             #444444c2 !important;
    border-color            :               var(--color-brand-lighter) !important;
}
.scrollableContainer-15eg7h:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL) {
    border                  :               1px solid transparent;
    border-radius           :               25px;
}
.input-3r5zZY{
    border-radius           :               15px;
    margin-bottom           :               15px;
}
[class="colorMuted-20987_ size12-oc4dx4 cta-25g9OT"], .container-2rCwVJ .clear-1JYfB5{
    display                 :               none;
}
.searchBoxInput-P0mWHW{
    color                   :             white !important;
}
/* member list hover effect */
.item-3XjbnG, .option-ayUoaq {
    transition              :               0.3s ease !important;
}
.clickable-28SzVr .layout-1qmrhw{
    border-radius           :               25px;
    transition              :               0.4s ease !important;
}
.clickable-28SzVr:hover .layout-1qmrhw {
    border-radius           :               10px;
}
/* turns jump to present bar into a button */
[class*="jumpToPresentBar"] {
    display                 :               contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display                 :               none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position                :               absolute;
    z-index                 :               1;
    bottom                  :               24px;
    right                   :               22px;
    padding                 :               8px !important;
    height                  :               auto;
    background-color        :             #414141;
    box-shadow              :               var(--elevation-high);
    border-radius           :               100px;
    display                 :               flex;
    font-size               :               0px;
    color                   :               transparent;
    transition              :               font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order                   :               -1;
    margin                  :               0px;
    height                  :               24px;
    width                   :               24px;
    top                     :               auto;
    margin-right            :               0px;
    margin-left             :               0px;
    color                   :             #FFFFFF;
    transition              :               margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding                 :               8px 18px !important;
    font-size               :               14px;
    color                   :             #FFFFFF;
    transition              :               font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right            :               2px;
    margin-left             :               -6px;
}
/* mentioned messages */
.mentioned-Tre-dv{
    transition              :               0.5s ease;
    background-color        :             #171717;
}
.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy, .mouse-mode.full-motion .mentioned-Tre-dv:hover{
    transition              :               0.5s ease;
    background-color        :             #1d1d1d;
}
.mentioned-Tre-dv:hover:before{
    transition              :               0.5s ease;
    background-color        :             #575757;
}
.mentioned-Tre-dv:before{
    transition              :               0.5s ease;
    background-color        :             #383838;
}



/* folder coloring */
.closedFolderIconWrapper-3tRb2d, .folderIconWrapper-1oRIZr{
    background-color        :             #444444 !important;
}
[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"]{
    color                   :             rgba(255, 255, 255, 0.63);
}



/* reactions */
.reaction-2A2y9y.reactionMe-3I9gFK{
    background-color        :             #1d1d1d;
    border-color            :             #575757;
}
.autocomplete-3NRXG8 {
    background-color        :             #1d1d1d !important;
}
.autocomplete-3NRXG8 .selected-3H3-RC{
    transition              :               0.5s ease;
    background-color        :             #262626;
}

/* user setting buttons */
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color        :             #222222;
}
.lookFilled-yCfaCM .contents-3ca1mk, .lookInverted-2mDUMi .contents-3ca1mk, .lookLink-15mFoz .contents-3ca1mk, .lookOutlined-3yKVGo .contents-3ca1mk{
    overflow                :               visible;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color        :             #333333;
}
.userSettingsSecurity-2kODPN .isEnabled-20V6lG{
    color                   :             #2a7742;
}
.messagesWrapper-RpOMA3 ::-webkit-scrollbar{
    display                 :               none;
}

