/* spotify controls restyle im working on (beta) */
.panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .inner-WRV6k5{
    height: 70px;
    position: relative;
    width: calc(100% + 14px);
    margin-left: -7px;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .flex-2S1XBF{
    position: absolute;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .inner-WRV6k5>.details-ntX2k5{
    text-align: center;
    margin-bottom: 30px;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .flex-2S1XBF>*:hover{
    background-color: transparent;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0)>div>.coverWrapper-YAplwJ{
    position: absolute;
    width: 100%;
    height: 165px;
    margin: 0;
    margin-top: 25px;
    border-radius: 0;
    pointer-events: none;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0){
    height: 165px;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0) .cover-SwJ-ck{
    object-fit: fill;
    filter: blur(2px) brightness(.3);
    pointer-events: none;
    z-index: -99;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0)>div>.coverWrapper-YAplwJ>.maximizer-RVu85p{
    width: 100%;
    z-index: 9999;
    transform: none;
    border-radius: 0;
    pointer-events: all;
    height: 15px;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0):hover .coverWrapper-YAplwJ>.maximizer-RVu85p,
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0):hover .coverWrapper-YAplwJ::before{
    visibility: visible;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0)>div>.coverWrapper-YAplwJ>.maximizer-RVu85p>*{
    display: none;
  }
  .panels-3wFtMD>.withTimeline-824fT_:not(.maximized-vv2Wr0)>div>.coverWrapper-YAplwJ::before{
    content: '^';
    font-size: 46px;
    position: absolute;
    color: white;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 1px;
    visibility: hidden;
  }
/* changes the live tag in vc into a background gradient */
.voiceUser-3nRK-K .live-1V2D-f {
    font-size: 0;
    background: linear-gradient(to right, transparent, var(--background-secondary));
    border-radius: 5px;
    margin-right: 237px;
    width: 70%;
    margin-top: 2px;
    z-index: -99;
    height: 99%;
    transition: .5s ease;
    position: absolute;
}
.voiceUser-3nRK-K:hover .live-1V2D-f, .voiceUser-3nRK-K .content-1Tgc42:hover{
    border-radius: 25px;
}
.voiceUser-3nRK-K .content-1Tgc42{
    transition: .5s ease;
    border-radius: 0px;
}
/* removes some stupid gradient bugs */
.form-3gdLxP::before, .children-3xh0VB:after, .option-ayUoaq:after{
    content                 :               none;
}
/* custom user profile settings */
.accountProfileCard-lbN7n- > .settingsBanner-1eDJ5w {
    width                   :               100%;
    height                  :               300px;
    border-radius           :               10px;
    filter                  :               blur(1.3px) brightness(.4);
}
.accountProfileCard-lbN7n- > .userInfo-regn9W, .accountProfileCard-lbN7n- > .background-3d_SjE {
    width                   :               55%;
    position                :               relative;
    left                    :               6%;
    bottom                  :               300px;
    height                  :               100px;
}
.accountProfileCard-lbN7n- > .userInfo-regn9W .avatar-3mTjvZ {
    left                    :               -30px;
    top                     :               -10px;
}
.accountProfileCard-lbN7n- > .background-3d_SjE {
    width                   :               95%;
    left                    :               0px;
    background-color        :             rgba(0, 0, 0, 0.26);
    overflow-y              :               scroll;
    overflow-x              :               hidden;
}
.accountProfileCard-lbN7n- > .background-3d_SjE::-webkit-scrollbar {
    visibility              :               hidden;
}
.accountProfileCard-lbN7n- {
    max-height              :               300px;
    background-color        :               transparent;
    width                   :               840px;
    border-radius           :               9px;
}
.userInfo-regn9W {
    margin-top              :               20px;
}
.fieldList-in8WkP {
    margin-top              :               20px;
    background-color        :               transparent;
}
.accountProfileCard-lbN7n- > .button-f2h6uQ {
    position                :               relative;
    width                   :               900px;
    left                    :               200px;
}
.avatar-3mTjvZ {
    border                  :               none;
    background-color        :               transparent;
}
.profileCardUsernameRow-1bb6fi{
    position                :               relative;
    right                   :               55px;
}
.accountProfileCard-lbN7n- .button-f2h6uQ:nth-child(3){
    position                :               relative;
    left                    :               290px;
}
.accountProfileCard-lbN7n- .container-1gYwHN{
    position                :               relative;
    left                    :               -100%;
    top                     :               230%;
    margin-left             :               15px
}
